mule_application/src/main/mule/mule_application.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="49d1bcab-e02f-4b50-a652-848109ee9352" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mule_applicationFlow" doc:id="5df3b0e0-dd38-4fd9-aed0-c527319471ea" >
		<http:listener doc:name="Listener" doc:id="1b54c104-a20a-4514-8190-1ac73a4f76be" config-ref="HTTP_Listener_config" path="/app"/>
		<ee:transform doc:name="Transform Message" doc:id="e610155b-9e4c-443c-9df3-0c7f374ed141" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"app": "git"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="495501fe-56bf-4fbb-8022-6e197bbf9614" message="#[payload]"/>
		<logger level="INFO" doc:name="Logger" doc:id="48dccdb0-2529-4136-9420-ff49ff3bd718" />
	</flow>
</mule>
